.wrapper {
  width: 650px;
  height: 350px;
  padding: 40px 0;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
